
<!--<p>selectedRows: {{ gridOptions.selectedRows }}</p>-->
<!-- Position filter options-->
<div class="btn-group col-md-4">
    <label ng-repeat="option in filter.options" class="btn btn-default" ng-model="filter.radioModel" ng-click="filterOnPosition(option)" btn-radio="option" uncheckable>{{ option }}</label>
</div>
<!-- Quick filter -->
<div class="col-md-4">
    <input placeholder="Search/Filter..." type="text" ng-model="gridOptions.quickFilterText" style="margin-top: 5px; margin-bottom: 10px;"/>
</div>

<!-- Spacer to fix layout issue in IE -->
<div class="col-md-4"></div>

<!-- the grid -->
<div ag-grid="gridOptions" class="ag-fresh col-md-8 col-xs-10" style="height: 80%;"></div>

<!-- stats -->
<div class="col-md-4 col-xs-10">
    <p><strong>Players selected: </strong> {{ selectedPlayerIds.length }} / {{ constants.TRANSFER_NOMINATIONS }}</p>
    <br>
    <button class="btn btn-primary" ng-click="previewNominations()" ng-disabled="selectedPlayerIds.length < 1"
            ng-if="currentWindow.type == windowTypes.TRANSFER_NOMINATION || currentWindow.type == windowTypes.AUCTION_NOMINATION">
        Preview
        <i class="fa fa-angle-right"></i>
    </button>
</div>

