<h3>Auction Nomination Summary</h3>

<table class="table table-condensed">
    <thead>
        <th>Manger</th>
        <th>GKP</th>
        <th>DEF</th>
        <th>MID</th>
        <th>STR</th>
    </thead>

    <tbody>
        <tr ng-repeat="summary in nominationSummaryData">
            <td>{{ summary.name }}</td>
            <td>{{ summary.GKP }}</td>
            <td>{{ summary.DEF }}</td>
            <td>{{ summary.MID }}</td>
            <td>{{ summary.STR }}</td>
        </tr>
    </tbody>
</table>