<div ng-if="authUser == 'Admin'">
    <label for="player_code">Enter player code</label>
    <input id="player_code" type="number" ng-model="selectedPlayer.code" >
    <button class="btn btn-default" ng-click="getPlayer(selectedPlayer.code)">Get Player</button>
    <br>
    <br>
    <div id="selected_player" ng-if="selectedPlayer.admin_auction_nomination_managers.length > 0">
        <table class="table table-condensed" width="75%" border="1">
            <tr>
                <td><h2>{{ selectedPlayer.code }}</h2></td>
                <td><h2>{{ selectedPlayer.name }}</h2></td>
                <td><h2>{{ selectedPlayer.prem_team }}</h2></td>
                <td><h2>{{ selectedPlayer.value }}</h2></td>
                <td>
                    <br>
                    <span ng-repeat="manager in selectedPlayer.admin_auction_nomination_managers"
                            ng-click="setManager(manager)">{{ manager }}{{ $last ? '':', ' }}</span>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <table class="table table-condensed" width="75%">
        <thead>
            <th>Code</th>
            <th>Name</th>
            <th>Team</th>
            <th>Value</th>
            <th>Manager</th>
            <th>Sale</th>
            <th></th>
        </thead>

        <tbody>
            <tr>
                <td>{{ selectedPlayer.code }}</td>
                <!--<td><input type="number" ng-model="selectedPlayer.code" ng-change="getPlayer()"></td>-->
                <td>{{ selectedPlayer.name }}</td>
                <td>{{ selectedPlayer.prem_team }}</td>
                <td>{{ selectedPlayer.value }}</td>
                <td><select ng-model="selectedPlayer.team" ng-options="team.id as team.manager.username for team in teams"></select></td>
                <td><input ng-model="selectedPlayer.sale" ></td>
                <td>
                    <button class="btn btn-warning" ng-click="savePlayer()">
                        <i class="fa fa-check"></i>
                    </button>&nbsp;
                    <button class="btn btn-danger" ng-click="cancel()">
                        <i class="fa fa-times"></i>
                    </button>

                </td>
            </tr>
        </tbody>

    </table>
</div>

<!-- All users can see this table summarising the spending during the auction -->
<h2>Auction Progress Tracker</h2>
<br>
<table class="table table-condensed" border="1">
    <thead>
        <th>Manager</th>
        <th>GKP</th>
        <th>DEF</th>
        <th>MID</th>
        <th>STR</th>
        <th>Funds Remaining <br>(#players left)</th>
    </thead>
    <tbody>
        <tr ng-repeat="(team_id, data) in auctionTeamSummary | orderBy: data.manager">
            <td>{{ data.manager }}</td>
            <td ng-class="{warning: data.players['G'].length < 2, success: data.players['G'].length == 2, danger: data.players['G'].length > 2}">
                <span><strong>{{ data.players['G'].length }}</strong></span>
                [ <span ng-repeat="gkp_sale in data.players['G'] track by $index">{{ gkp_sale }}{{ $last ? '':' + ' }}</span> ]
            </td>
            <td ng-class="{warning: data.players['D'].length < 5, success: data.players['D'].length == 5, danger: data.players['D'].length > 5}">
                <span><strong>{{ data.players['D'].length }}</strong></span>
                [ <span ng-repeat="def_sale in data.players['D'] track by $index">{{ def_sale }}{{ $last ? '':' + ' }}</span> ]
            </td>
            <td ng-class="{warning: data.players['M'].length < 5, success: data.players['M'].length == 5, danger: data.players['M'].length > 5}">
                <span><strong>{{ data.players['M'].length }}</strong></span>
                [ <span ng-repeat="mid_sale in data.players['M'] track by $index">{{ mid_sale }}{{ $last ? '':' + ' }}</span> ]
            </td>
            <td ng-class="{warning: data.players['S'].length < 3, success: data.players['S'].length == 3, danger: data.players['S'].length > 3}">
                <span><strong>{{ data.players['S'].length }}</strong>
                </span> [ <span ng-repeat="str_sale in data.players['S'] track by $index">{{ str_sale }}{{ $last ? '':' + ' }}</span> ]
            </td>
            <td ng-class="{warning: data.funds_per_player <= 3, danger: data.funds_per_player <= 2.5}">
                {{ data.funds | number: 1 }}&nbsp;&nbsp; ({{ 15 - data.bought }})
            </td>
        </tr>
    </tbody>

</table>