        <div class="panel panel-default">
          <!--<div class="panel-heading large">-->
            <!--&lt;!&ndash;<span class="glyphicon glyphicon-dashboard space-name"></span>&ndash;&gt;-->
            <!--<i class="fa fa-futbol-o fa-2x"></i>-->
            <!--<h3 id="spacename">{{ selected_manager.name }}</h3>-->
          <!--</div>-->
          <div class="panel-heading compact">
            <h4 class="left-nav-title">Options <i class="fa fa-futbol-o fa-lg"></i></h4>
          </div>
          <div class="panel-body no-padding">
              <ul id="options" class="nav nav-pills nav-stacked">
                  <li>
                    <a href="/#/table/"><i class="fa fa-list-ol fa-lg fa-fw"></i> Table</a>
                  </li>
                  <li>
                    <a href="/#/players/"><i class="fa fa-street-view fa-lg fa-fw"></i> Players</a>
                  </li>
                  <li>
                    <a href="/#/auction/"><i class="fa fa-gavel fa-lg fa-fw"></i> Auction</a>
                  </li>
                  <li>
                    <a href="/#/transfers/"><i class="fa fa-exchange fa-lg fa-fw"></i> Transfers</a>
                  </li>
                  <li>
                    <a href="/#/motm/"><i class="fa fa-calendar fa-lg fa-fw"></i> MotM</a>
                  </li>
                  <li>
                    <a href="/#/cup/"><i class="fa fa-trophy fa-lg fa-fw"></i> Cup</a>
                  </li>
                  <li>
                    <a href="/#/banter/"><i class="fa fa-comments-o fa-lg fa-fw"></i> Banter</a>
                  </li>
              </ul>
          </div>
          <div class="panel-heading compact">
            <h4 class="left-nav-title">Teams <i class="fa fa-users fa-lg"></i></h4>
          </div>
          <div class="panel-body no-padding">
              <ul id="team_list" class="nav nav-pills nav-stacked">
                  <li  ng-repeat="team in teams " ng-class="{active: team.id==selected_team.id}">
                    <a href="/#/teams/{{ team.id }}/"><span ng-class="{glyphicon: true, 'glyphicon-user': true}"></span> {{ team.manager.username }}</a>
                  </li>
              </ul>
          </div>
          <!--<div class="panel-body" ng-show="project_spaces.length > defaultNumberToShow">-->
                <!--<button type="button" class="btn center-block" ng-click="showToggle()">Show {{ numberToShow == defaultNumberToShow ? (project_spaces.length - numberToShow) + ' More' : 'Fewer' }} Spaces</button>-->
          <!--</div>-->
          <!--<div class="panel-footer center-block">-->
              <!--<div class="center-block"><span class="glyphicon glyphicon-plus"></span> Join a space</div>-->
          <!--</div>-->
        </div>
