            <!--<div class="panel-heading compact">-->
              <!--<ul id="apps_menu" class="nav nav-pills" ng-controller="MenuController">-->
                  <!--<li ng-repeat="item in menuitems" ng-class="{active: isActive(item)}">-->
                      <!--<a class="text-center compact" ng-click="selectMenuItem(item)"><span class="glyphicon {{ item.icon_class }} glyphicon-large"></span><br/>-->
                          <!--{{ item.title }}</a></li>-->
              <!--</ul>-->
            <!--</div>-->
            <div class="panel-body">
                <div ng-view>
                </div>
            </div>

