	<div class="panel panel-default">
		<tabset>
			<tab class="left-nav-title" heading="JSME EDITOR">
				<div class="panel-body">
					<div id="jsme_container" ng-mouseleave="updateStructure();"></div>
					<br>
					<!-- <form name="form_editor">
			            <input id="submit_smiles" type="button" value=" Search " onclick="searchStructure();">
			            &nbsp;&nbsp;
			            <input type="button" value="  Close  " onclick="window.close()">
		        	</form> -->
					<button class="btn btn-primary" ng-click="searchStructure()"><span class="glyphicon glyphicon-search"></span> &nbsp; Search</button>
					<button class="btn btn-default" ng-click="clearQuery()">Reset</button>		        	
		        	
	        	</div>
			</tab>
			<tab class="left-nav-title" heading="RECENT ACTIVITIES" active="miniActivityStreamActive">
			<!-- <div class="panel-body no-padding"> -->
				<!-- <div class="panel-heading compact">
					<h4 class="left-nav-title">Recent Activities</h4>
				</div> -->
				<mini-activity-stream></mini-activity-stream>
			</tab>
		</tabset>
	</div>
