<a class="btn btn-default" href="" ng-href="{{ '/#' + baseUrl }}"><i class="fa fa-angle-left"></i> &nbsp; Main Table</a>
<br>
<br>
<div class="col-md-8">
<table class="table table-condensed">
    <thead>
        <th>Code</th>
        <th>Name</th>
        <th>Team</th>
        <th>Value</th>
        <th>Bid</th>
        <!--<th>Priority</th>-->
        <th>Duplicate</th>
        <th>Delete</th>
    </thead>

    <!--<tbody>-->
        <!--<tr ng-repeat="player in selectedPlayers track by $index">-->
            <!--<td>{{ player.code }}</td>-->
            <!--<td>{{ player.name }}</td>-->
            <!--<td>{{ player.prem_team }}</td>-->
            <!--<td>{{ player.value }}</td>-->
            <!--<td><input ng-model="player.bid" type="number" class="form-control" ></td>-->
            <!--&lt;!&ndash;<td><input ng-model="player.priority" type="number" class="form-control" ></td>&ndash;&gt;-->
            <!--<td>-->
                <!--<button class="btn btn-warning" ng-click="duplicateNomination(player)">-->
                    <!--<span class="fa fa-plus"></span>-->
                <!--</button>-->
            <!--</td>-->
            <!--<td>-->
                <!--<button class="btn btn-danger" ng-click="deleteNomination(player)">-->
                    <!--<span class="fa fa-times"></span>-->
                <!--</button>-->
            <!--</td>-->
        <!--</tr>-->
    <!--</tbody>-->

    <tbody>
        <tr ng-repeat="pn in playerNoms track by $index">
            <td>{{ pn.player.code }}</td>
            <td>{{ pn.player.name }}</td>
            <td>{{ pn.player.prem_team }}</td>
            <td>{{ pn.player.value }}</td>
            <td><input ng-model="pn.nom.bid" type="number" class="form-control" ></td>
            <!--<td><input ng-model="player.priority" type="number" class="form-control" ></td>-->
            <td>
                <button class="btn btn-warning" ng-click="duplicateNomination(pn)">
                    <span class="fa fa-plus"></span>
                </button>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteNomination(pn)">
                    <span class="fa fa-times"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
</div>

<div class="col-md-4">
    <p><strong>Nominations: </strong> {{ playerNoms.length }} / {{ constants.TRANSFER_NOMINATIONS }}</p>
    <br>
    <div class="alert alert-danger" ng-if="playerNoms.length > constants.TRANSFER_NOMINATIONS">Please delete {{ playerNoms.length - constants.TRANSFER_NOMINATIONS }} nominations.</div>
    <br>
    <button class="btn btn-primary" ng-click="saveNominations()" ng-disabled="playerNoms.length > constants.TRANSFER_NOMINATIONS"
            ng-if="currentWindow.type == windowTypes.TRANSFER_NOMINATION">
        <i class="fa fa-save"></i>
        Save Nominations
    </button>
</div>

