<a class="btn btn-default" href="" ng-href="{{ '/#' + baseUrl + 'summary/' }}"><i class="fa fa-angle-left"></i> &nbsp; Summary of processed Transfers</a>
<br>
<br>
<div class="col-md-8">


</div>
<div class="col-md-10">
    <table class="table table-condensed">
    <thead>
        <th>Code</th>
        <th>Name</th>
        <th>Team</th>
        <th>Value</th>
        <th>Bid</th>
        <!--<th>Priority</th>-->
        <th>Status</th>
        <th>Next Highest?</th>
        <th>Actions</th>
    </thead>

    <tbody>
        <tr ng-repeat="nomination in userNominations">
            <td>{{ playerDetails[nomination.player].code }}</td>
            <td>{{ playerDetails[nomination.player].name }}</td>
            <td>{{ playerDetails[nomination.player].prem_team }}</td>
            <td>{{ playerDetails[nomination.player].value }}</td>
            <td>{{ nomination.bid }}</td>
            <!--<td>{{ nomination.priority }}</td>-->
            <td>{{ nomination.status }}</td>
            <td ng-if="nomination.is_next_highest_bid"><span class="fa fa-check"></span></td>
            <td ng-if="!nomination.is_next_highest_bid"><span class="fa fa-times"></span></td>
            <td class="actions">
                <button class="btn btn-success"
                        ng-dblclick="acceptNomination(nomination)"
                        ng-if="nomination.status == 'Highest' || nomination.status == 'List'"
                        ng-disabled="funds < nomination.bid">
                    <span class="fa fa-check"></span>
                    Accept
                </button>
                <button class="btn btn-warning"
                        ng-dblclick="refreshData();"
                        ng-if="nomination.status == 'Outbid'">
                    <span class="fa fa-refresh"></span>
                    Refresh Status
                </button>
                <button class="btn btn-danger"
                        ng-dblclick="passOnNomination(nomination)"
                        ng-hide="nomination.status == 'Bid Failed' || nomination.status == 'Accepted' || nomination.status == 'Passed' || nomination.status == 'Pending' || nomination.status == 'Joint Highest'">
                    <span class="fa fa-times"></span>
                    Pass
                </button>
                <span ng-if="nomination.status == 'Joint Highest'">Contact Admin!</span>
            </td>

        </tr>
    </tbody>
</table>

    <!--<br>-->
    <!--<button class="btn btn-danger" ng-dblclick="finaliseTransfers()" ng-if="funds >= 0 && userNominations.length > 0" ng-hide="userNominations.disableFinalise">-->
        <!--<span class="fa fa-times"></span> Process Transfers-->
    <!--</button>-->
</div>
</br>
</br>
<div class="col-md-8" >
    <h4><strong>Available funds: {{ funds }}</strong></h4>
    <br>
    <p>Select players to sell to add to your funds:</p>
    <select ng-model="playerToSell" ng-options="p as p.name for p in teamDetails.players" ng-change=""></select>
    <button class="btn btn-default" ng-click="addPlayerToSell(playerToSell);" ng-show="playerToSell != undefined">
        <span class="fa fa-check"></span> Add to sell list
    </button>

    <div ng-if="playersToSell.length > 0">
        <table class="table table-condensed">
            <thead>
                <th>Code</th>
                <th>Name</th>
                <th>Team</th>
                <th>Value</th>
                <th>Actions</th>
            </thead>

            <tbody>
                <tr ng-repeat="player in playersToSell">
                    <td>{{ player.code }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.prem_team }}</td>
                    <td>{{ player.value }}</td>
                    <td class="actions">
                        <button class="btn btn-warning" ng-click="removePlayerToSell(player)" >
                            <span class="fa fa-times"></span> Cancel
                        </button>
                        <button class="btn btn-danger" ng-dblclick="sellPlayer(player)" >
                            <span class="fa fa-check"></span> Sell
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    &nbsp;&nbsp;
    <a class="btn btn-default" href="" ng-href="{{ '/#/teams/' + userTeam.id + '/lineup/' }}" ng-if="userNominations.length == 0">Edit Team Lineup &nbsp; <i class="fa fa-angle-right"></i></a>


    </br>
    </br>
    <div class="col-md-8 alert alert-info" ng-if="messages.length > 0">
        <h3>Notifications:</h3>
        <p>Take a screenshot of any errors and email to Dan</p>
        <p ng-repeat="message in messages">{{ message }}</p>
    </div>

    <!--<div class="alert alert-danger" ng-if="selectedPlayers.length > constants.TRANSFER_NOMINATIONS">Please delete {{ selectedPlayers.length - constants.TRANSFER_NOMINATIONS }} nominations.</div>-->
    <!--<br>-->
    <!--<button class="btn btn-primary" ng-click="saveNominations()" ng-disabled="selectedPlayers.length > constants.TRANSFER_NOMINATIONS"> <i class="fa fa-save"></i> Save Nominations</button>-->
</div>