        <div ng-repeat="activity in stream()|limitTo:5">
            <div class="panel">
                <div class="panel-default">
                    <div class="panel-heading">
                        <small>{{ activity.user.first_name + ' ' + activity.user.last_name }}</small><br/>
                        <small><span class="glyphicon glyphicon-time"></span> <span am-time-ago="activity.added"></span></small>
                        <small><a ng-if="!activity.plugin" href="/#/{{ activity.space.id || 0 }}/">{{ activity.space.name || 'Personal' }}</a></small>
                        <small><a ng-if="activity.plugin" href="/#/{{ activity.space.id || 0 }}/pluggable_app/{{ activity.plugin.id }}/">{{ activity.space.name || 'Personal' }}: {{ activity.plugin.name }}</a></small>
                        <br/>
                    </div>
                    <div ng-if="activity.message" class="panel-body">
                        <small>{{ activity.message }}</small>
                    </div>
                    <div ng-switch="activity.content_type.model">
                        <div class="panel-body" ng-switch-when="databasefile">
                            <div class="container-fluid repeated-item">
                                <div class="row">
                                    <div class="col-md-2 col-lg-2"><img ng-src="{{ iconFor(activity.content_object) }}"></div>
                                    <div class="col-md-10 col-lg-10"><small><a ng-href="{{ activity.content_object.content.url }}">{{ activity.content_object.name }}</a></small></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body" ng-switch-when="wikipagerevision">
                            <div class="container-fluid repeated-item">
                                <div class="row">
                                    <div class="col-md-2 col-lg-2"><span class="glyphicon glyphicon-book"></span></div>
                                    <div class="col-md-10 col-lg-10 small">
                                        <wiki-link page="activity.content_object"></wiki-link>
                                         <span class="badge">V{{ activity.content_object.revision_number }}</span>
                                        <p ng-bind-html="activity.content_object.content|limitTo:100"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="container-fluid">-->
                            <!--<div class="row repeated-item" ng-repeat="comment in activity.comments">-->
                                <!--<div class="col-md-2 col-lg-2"><img src="/static/images/avatar-placeholder.png" width="100%" class="img-rounded"></div>-->
                                <!--<div class="col-md-10 col-lg-10">-->
                                    <!--<blockquote class="small">-->
                                        <!--<p>{{ comment.text }}</p>-->
                                        <!--<footer>{{ comment.user.first_name + ' ' + comment.user.last_name }} <cite><span am-time-ago="comment.added"></span></cite></footer>-->
                                    <!--</blockquote>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    </div>
                </div>
            </div>
        </div>
