{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
<br>
<div id="content-main" class="container" style="width: 425px;">
	<img class="center-block" src="{% static "images/AZFF-logo.png" %}" />

	<form action="" method="post" >{% csrf_token %}
		<div>
			<br>
			<p class="form-signin-heading">Please enter your old password and then enter your new<br> password twice so we can verify you typed it in correctly.</p>
			
			{% if form.errors %}
			    <p class="errornote">
			    {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
			    </p>
			   	<br>
			{% endif %}
			
			<fieldset class="module aligned wide">
			
				<div class="form-row">
				    {{ form.old_password.errors }}
				    {{ form.old_password.label_tag }} {{ form.old_password }}
				</div>
				
				<div class="form-row">
				    {{ form.new_password1.errors }}
				    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
				    {% if form.new_password1.help_text %}
				    <p class="help">{{ form.new_password1.help_text }}</p>
				    {% endif %}
				</div>
				
				<div class="form-row">
				{{ form.new_password2.errors }}
				    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
				    {% if form.new_password2.help_text %}
				    <p class="help">{{ form.new_password2.help_text }}</p>
				    {% endif %}
				</div>
			
			</fieldset>
			
			<br>
			<div class="submit-row">
			    <input type="submit" value="Change my password" class="btn btn-primary" style="float: right;" />
			</div>
			
			<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
		</div>
	</form>
</div>

{% endblock body %}
