        <div class="modal-header">
            <h3 class="modal-title">Upload New File</h3>
        </div>
        <div class="modal-body">
            <div id="file-upload-error" class="alert alert-danger" ng-if="error_message">{{ error_message }}</div>
            <form name="myForm">
                <div class="form-group">
                    <label for="newFile">File</label>
                    <input id="newFile" name="file" type="file" file-model="upload.myFile" required/>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="!myForm.$valid" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>