<h2>Welcome to the new AZFF Website &nbsp;&nbsp;<i class="fa fa-futbol-o fa-lg"></i></h2>

<br>
<div class="col-md-8">
    <h3>League Table</h3>

    <table class="table table-condensed">
        <thead>
            <th></th>
            <th>Manager</th>
            <th>Team Name</th>
            <th>Weekly Points</th>
            <th>Total Points</th>
            <th>Winnings</th>
        </thead>

        <tbody>
            <tr ng-repeat="team in teams | orderBy:'-score'">
                <td>{{ $index + 1 }}</td>
                <td><a href="/#/teams/{{ team.id }}/">{{ team.manager.username }}</a></td>
                <td><a href="/#/teams/{{ team.id }}/">{{ team.name }}</a></td>
                <td style="text-align: center;">{{ team.latest_weekly_score }}</td>
                <td style="text-align: center;">{{ team.score }}</td>
                <td ng-if="team.winnings != 0">{{ team.winnings }}</td>
                <td ng-if="team.winnings == 0"></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Admin functions -->
<div class="col-md-8" ng-if="authUser == 'Admin'">
    <button class="btn btn-default" ng-click="updateScores()">Update Scores</button>


</div>

