<div class="col-md-6"><h2>{{ team.name }}</h2></div>
<!--<div class="col-md-6">-->
    <!--<button class="btn btn-default" ng-if="team.is_manager" ng-click="editTeamName()"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</button>-->
<!--</div>-->

<div class="col-md-6">
    <h2>
        <div class="col-md-3">
            <button class="btn btn-default" ng-disabled="scores.month == 7" ng-click="getScoresForMonth((scores.month + 11) % 12)" style="float: right;"><i class="fa fa-angle-left"></i></button>
        </div>
        <div class="col-md-4">
            {{ monthNames[scores.month] }}
        </div>
        <div class="col-md-3">
            <button class="btn btn-default" ng-disabled="scores.month == 4" ng-click="getScoresForMonth((scores.month + 1) % 12)" style="float: leftt;"><i class="fa fa-angle-right"></i></button>
        </div>
    </h2>
</div>


</div>
<div class="col-md-12">

    <table class="table table-condensed">
        <thead>
            <th>Code</th>
            <th>Position</th>
            <th>Name</th>
            <th>Team</th>
            <th>Value</th>
            <th>Sale</th>
            <th class="score-header" ng-repeat="week in scores.weeks" ng-class="{'cup-week': week.is_cup}">
                Week {{ week.number }}<br>{{ week.date }}
                <i class="fa fa-trophy fa-lg fa-fw" ng-if="week.is_cup"></i>
            </th>
            <th class="score">Total Pts</th>
        </thead>

        <tbody>
            <tr ng-repeat="player in team.all_players" ng-class="{info: player.status == 'F', warning: player.status == 'R', danger: player.status == 'S', hide: !playerHasScoreForMonth(player)}">
                <td>{{ player.code }}</td>
                <td>{{ player.position }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.prem_team }}</td>
                <td>{{ player.value }}</td>
                <td>{{ player.sale }}</td>
                <td class="score" ng-repeat="week in scores.weeks">{{ (scores.player_scores | filter:{player: player.id, week: week.id})[0].display_value }}</th>
                <td class="score">{{ team.player_team_scores[player.id] }}</td>
            </tr>
            <tr>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <td class="score" ng-repeat="week in scores.weeks">{{ (scores.weekly_scores | filter:{week: week.id})[0].value }}</th>
                <td class="score score-total" >{{ team.score }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <!--<button class="btn btn-primary" ng-if="team.is_manager" ng-click="saveTeam()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>-->

</div>

<div class="col-md-2">
    <h4>Key</h4>
    <table class="table table-condensed">
        <tr class="info"><td>First Team</td></tr>
        <tr class="warning"><td>Reserve</td></tr>
        <tr class="danger"><td>Squad</td></tr>
        <tr><td>Ex-player</td></tr>
    </table>

</div>

<div class="col-md-2" ng-if="team.is_manager">
    <h4>Actions</h4>
    <button class="btn btn-default" ng-click="editTeamName()">Change Team Name</button>
    <br>
    <br>
    <button class="btn btn-default" ng-click="editTeamLineup()" ng-disabled="currentWindow.type != 'Squad Change' && currentWindow.type != 'Transfer Confirmation'">Edit Team Lineup</button>
</div>

<div class="col-md-3">
    <h4><strong>Available Funds: </strong> {{ team.funds }}</h4>
    <br>
</div>

<script>
    $( document ).ready(function() {
        $("td:contains('*')").css("font-color", "#A9A9A9");
    });

</script>

<!--<script ng-template="editTeamNameModal.html">-->

    <!--<div class="modal-header">-->
        <!--<h3 class="modal-title">Edit Team Name</h3>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
        <!--<div class="alert alert-danger" ng-if="error_message">{{ error_message }}</div>-->
            <!--<form name="teamNameForm" class="novalidate">-->
                <!--<div class="form-group">-->
                    <!--<label for="team_name">Name</label>-->
                    <!--<input type="text" id="team_name" class="form-control" ng-model="update_team.name" ng-minlength="3" ng-trim="true" required>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
            <!--<button class="btn btn-primary" ng-disabled="teamNameForm.$invalid" ng-click="saveTeamName()">Save</button>-->
            <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</script>-->