<div class="col-md-6"><h2>{{ team.name }}</h2></div>
<div class="col-md-6">
    <button ng-class="btn btn-default" ng-if="team.is_manager" ng-click="editTeamName()"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
</div>

<div id="team_container" class="col-md-12">

    <div id="first_team_container" class="col-md-8">
        <h4>Starting XI</h4>
        <div class="player col-md-4"></div>
        <div class="player-first col-md-4" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players.GKP.F">
            {{ player.name }} ({{ player.prem_team }})
        </div>
        <div class="player col-md-4"></div>
        <div class="player-first col-md-3" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players.DEF.F track by $index">
            {{ player.name }} ({{ player.prem_team }})
        </div>
        <div class="player-first col-md-3" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players.MID.F track by $index">
            {{ player.name }} ({{ player.prem_team }})
        </div>
        <div class="player col-md-3"></div>
        <div class="player-first col-md-3" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players.STR.F track by $index">
            {{ player.name }} ({{ player.prem_team }})
        </div>
        <div class="player col-md-3"></div>
    </div>

    <div id="reserve_container" class="col-md-2">
        <h4>Reserve</h4>
        <div class="player-res" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players.GKP.R">
            {{ player.name }} ({{ player.prem_team }})
        </div>
        <div class="player-res" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players.DEF.R">
            {{ player.name }} ({{ player.prem_team }})
        </div>
        <div class="player-res" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players.MID.R">
            {{ player.name }} ({{ player.prem_team }})
        </div>
        <div class="player-res" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players.STR.R">
            {{ player.name }} ({{ player.prem_team }})
        </div>
    </div>

    <div id="squad_container" class="col-md-2">
        <h4>Squad</h4>
        <div class="player-squad" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players.SQUAD">
            {{ player.position }}: {{ player.name }} ({{ player.prem_team }})
        </div>
    </div>




</div>

    <!--<div id="first_team_container" class="col-md-8">-->
        <!--<h4>Starting XI</h4>-->
        <!--<div class="player col-md-5"></div>-->
        <!--<div class="player-display" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players | filter:{position: 'GKP', status: 'F'}">-->
            <!--{{ player.name }} ({{ player.prem_team }})-->
        <!--</div>-->
        <!--<div class="player col-md-5"></div>-->
        <!--<div class="player-display col-md-3" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players | filter:{position: 'DEF', status: 'F'}">-->
            <!--{{ player.name }} ({{ player.prem_team }})-->
        <!--</div>-->
        <!--<div class="player-display col-md-3" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players | filter:{position: 'MID', status: 'F'}">-->
            <!--{{ player.name }} ({{ player.prem_team }})-->
        <!--</div>-->
        <!--<div class="player-display col-md-3" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players | filter:{position: 'DEF', status: 'F'}">-->
            <!--{{ player.name }} ({{ player.prem_team }})-->
        <!--</div>-->

    <!--</div>-->

    <!--<div id="reserve_container" class="col-md-8">-->
        <!--<h4>Reserve</h4>-->
        <!--<div class="player-display" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players | filter:{position: 'GKP', status: 'R'}">-->
            <!--{{ player.name }} ({{ player.prem_team }})-->
        <!--</div>-->
        <!--<div class="player-display" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players | filter:{position: 'DEF', status: 'R'}">-->
            <!--{{ player.name }} ({{ player.prem_team }})-->
        <!--</div>-->
        <!--<div class="player-display" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players | filter:{position: 'MID', status: 'R'}">-->
            <!--{{ player.name }} ({{ player.prem_team }})-->
        <!--</div>-->
        <!--<div class="player-display" ng-dblclick="movePlayer(player.id)" ng-repeat="player in team.players | filter:{position: 'STR', status: 'R'}">-->
            <!--{{ player.name }} ({{ player.prem_team }})-->
        <!--</div>-->


    <!--</div>-->