          <div class="panel-body">
              <div class="well">
                  <activity-status on-updated="updated(status)"></activity-status>
              </div>
          </div>
                  <p>{{ stream }}</p>

          <div id="activity_stream" infinite-scroll="loadMore()" infinite-scroll-disabled="loading_more()">
            <div class="container-fluid" ng-repeat="activity in stream()">
                <div class="row">
                    <div class="col-md-1 col-lg-1"></div>
                    <div class="col-md-11 col-lg-11 panel">
                        <div class="panel-default">
                            <div class="panel-heading">
                                {{ activity.user.first_name + ' ' + activity.user.last_name }}<br/>
                                <span class="glyphicon glyphicon-time"></span> <span am-time-ago="activity.added"></span>
                                <span class="glyphicon glyphicon-briefcase"></span> 
                                <a ng-if="!activity.plugin" href="/#/{{ activity.space.id || 0 }}/">{{ activity.space.name || 'Personal' }}</a>
                                <a ng-if="activity.plugin" href="/#/{{ activity.space.id || 0 }}/pluggable_app/{{ activity.plugin.id }}/">{{ activity.space.name || 'Personal' }}: {{ activity.plugin.name }}</a>
                                <br/>
                            </div>
                            <div class="panel-body">
                                {{ activity.message }}
                            </div>
                            <div class="panel-body" ng-switch="activity.content_type.model">
                                <div class="container-fluid repeated-item" ng-switch-when="databasefile">
                                    <div class="row">
                                        <div class="col-md-1 col-lg-1"><img ng-src="{{ iconFor(activity.content_object) }}"></div>
                                        <div class="col-md-11 col-lg-11"><a ng-href="{{ activity.content_object.content.url }}">{{ activity.content_object.name }}</a></div>
                                    </div>
                                </div>
                                <div class="container-fluid repeated-item" ng-switch-when="wikipagerevision">
                                    <div class="row">
                                        <div class="col-md-1 col-lg-1"><span class="glyphicon glyphicon-book" style="font-size: 32px;"></span></div>
                                        <div class="col-md-11 col-lg-11">
                                            <wiki-link page="activity.content_object"></wiki-link>
                                            <span class="badge">V{{ activity.content_object.revision_number }}</span>
                                            <p ng-bind-html="activity.content_object.content|limitTo:100"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row repeated-item" ng-repeat="comment in activity.comments">
                                        <div ng-if="$even" class="col-md-1 col-lg-1"><img src="/static/images/avatar-placeholder.png" width="100%" class="img-rounded"></div>
                                        <div ng-if="$even" class="col-md-11 col-lg-11">
                                            <blockquote>
                                                <p>{{ comment.text }}</p>
                                                <footer>{{ comment.user.first_name + ' ' + comment.user.last_name }} <cite><span am-time-ago="comment.added"></span></cite></footer>
                                            </blockquote>
                                        </div>

                                        <div ng-if="$odd" class="col-md-11 col-lg-11">
                                            <blockquote class="blockquote-reverse">
                                                <p>{{ comment.text }}</p>
                                                <footer>{{ comment.user.first_name + ' ' + comment.user.last_name }} <cite><span am-time-ago="comment.added"></span></cite></footer>
                                            </blockquote>
                                        </div>
                                        <div ng-if="$odd" class="col-md-1 col-lg-1"><img src="/static/images/avatar-placeholder.png" width="100%" class="img-rounded"></div>
                                    </div>
                                </div>
                                <activity-comment activity="activity" on-add-comment="addComment(activity, comment)"></activity-comment>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
