<!--<a class="btn btn-default" href="" ng-href="{{ '/#' + baseUrl }}"><i class="fa fa-angle-left"></i> &nbsp; Main Table</a>-->
<a class="btn btn-default" href="" ng-href="{{ '/#' + '/players/' }}"><i class="fa fa-angle-left"></i> &nbsp; Main Table</a>
<br>
<br>
<div  ng-class="{'col-md-6': currentWindow.type == windowTypes.AUCTION_NOMINATION, 'col-md-8': currentWindow.type == windowTypes.AUCTION }">
<table class="table table-condensed">
    <thead>
        <th>Code</th>
        <th>Name</th>
        <th>Team</th>
        <th>Value</th>
        <th>pts</th>
        <th ng-if="currentWindow.type == windowTypes.AUCTION_NOMINATION">Delete</th>
        <th ng-if="currentWindow.type == windowTypes.AUCTION">Nominations</th>
    </thead>

    <tbody>
        <tr><td colspan="6" class="active"><strong>Goalkeepers</strong></td></tr>
        <tr ng-repeat="player in selectedPlayers | filter: {position: 'GKP'}">
            <td>{{ player.code }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.prem_team }}</td>
            <td>{{ player.value }}</td>
            <td>{{ player.last_years_total }}</td>
            <td ng-if="currentWindow.type == windowTypes.AUCTION_NOMINATION">
                <button class="btn btn-warning" ng-click="deleteNomination(player)">
                    <span class="fa fa-times"></span>
                </button>
            </td>
            <td ng-if="currentWindow.type == windowTypes.AUCTION">
                <span ng-if="player.team">SOLD</span>
                <span ng-if="!player.team">{{ player.auction_nomination_managers }}</span>
            </td>
        </tr>
        <tr><td colspan="6" class="active"><strong>Defenders</strong></td></tr>
        <tr ng-repeat="player in selectedPlayers | filter: {position: 'DEF'}">
            <td>{{ player.code }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.prem_team }}</td>
            <td>{{ player.value }}</td>
            <td>{{ player.last_years_total }}</td>
            <td ng-if="currentWindow.type == windowTypes.AUCTION_NOMINATION">
                <button class="btn btn-warning" ng-click="deleteNomination(player)">
                    <span class="fa fa-times"></span>
                </button>
            </td>
            <td ng-if="currentWindow.type == windowTypes.AUCTION">
                <span ng-if="player.team">SOLD</span>
                <span ng-if="!player.team">{{ player.auction_nomination_managers }}</span>
            </td>
        </tr>
        <tr><td colspan="6" class="active"><strong>Midfielders</strong></td></tr>
        <tr ng-repeat="player in selectedPlayers | filter: {position: 'MID'}">
            <td>{{ player.code }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.prem_team }}</td>
            <td>{{ player.value }}</td>
            <td>{{ player.last_years_total }}</td>
            <td ng-if="currentWindow.type == windowTypes.AUCTION_NOMINATION">
                <button class="btn btn-warning" ng-click="deleteNomination(player)">
                    <span class="fa fa-times"></span>
                </button>
            </td>
            <td ng-if="currentWindow.type == windowTypes.AUCTION">
                <span ng-if="player.team">SOLD</span>
                <span ng-if="!player.team">{{ player.auction_nomination_managers }}</span>
            </td>
        </tr>
        <tr><td colspan="6" class="active"><strong>Strikers</strong></td></tr>
        <tr ng-repeat="player in selectedPlayers | filter: {position: 'STR'}">
            <td>{{ player.code }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.prem_team }}</td>
            <td>{{ player.value }}</td>
            <td>{{ player.last_years_total }}</td>
            <td ng-if="currentWindow.type == windowTypes.AUCTION_NOMINATION">
                <button class="btn btn-warning" ng-click="deleteNomination(player)">
                    <span class="fa fa-times"></span>
                </button>
            </td>
            <td ng-if="currentWindow.type == windowTypes.AUCTION">
                <span ng-if="player.team">SOLD</span>
                <span ng-if="!player.team">{{ player.auction_nomination_managers }}</span>
            </td>
        </tr>
    </tbody>
</table>
</div>

<div class="col-md-4">
    <p>Players selected:</p>
    <p><strong>GKP: </strong> {{ selectedPlayerCounts.gkp }} / {{ constants.AUCTION_GKP }}</p>
    <p><strong>DEF: </strong> {{ selectedPlayerCounts.def }} / {{ constants.AUCTION_DEF }}</p>
    <p><strong>MID: </strong> {{ selectedPlayerCounts.mid }} / {{ constants.AUCTION_MID }}</p>
    <p><strong>STR: </strong> {{ selectedPlayerCounts.str }} / {{ constants.AUCTION_STR }}</p>
    <br>
    <div ng-if="currentWindow.type == windowTypes.AUCTION_NOMINATION">
        <div class="alert alert-warning" ng-repeat="warning in warnings">{{ warning }}</div>
        <div class="alert alert-danger" ng-repeat="error in errors">{{ error }}</div>
        <div class="alert alert-info" ng-if="errors.length > 0">Correct errors to enable save.</div>
        <div class="alert alert-info" ng-if="errors.length == 0 && warnings.length > 0">You can save these nominations and add others later.</div>
        <div class="alert alert-info" ng-if="errors.length == 0 && warnings.length == 0">You have the correct number of nominations selected. You can save them now and still make further changes up until the deadline.</div>
        <br>
        <button class="btn btn-primary" ng-click="saveNominations()" ng-disabled="errors.length > 0"> <i class="fa fa-save"></i> Save Nominations</button>
    </div>
</div>
