
<!--<p>selectedRows: {{ gridOptions.selectedRows }}</p>-->
<!-- Position filter options-->
<div class="btn-group col-md-4">
    <label ng-repeat="option in filter.options" class="btn btn-default" ng-model="filter.radioModel" ng-click="filterOnPosition(option)" btn-radio="option" uncheckable>{{ option }}</label>
</div>
<!-- Quick filter -->
<div class="col-md-4">
    <input placeholder="Search/Filter..." type="text" ng-model="gridOptions.quickFilterText" style="margin-top: 5px; margin-bottom: 10px;"/>
</div>

<!-- Spacer to fix layout issue in IE -->
<div class="col-md-4">
    <button class="btn btn-primary" ng-click="previewAuctionNominations()">My Nominations <i class="fa fa-angle-right"></i></button>
</div>

<!-- the grid -->
<div ag-grid="gridOptions" class="ag-fresh col-md-10 col-xs-10" style="height: 80%;"></div>

<br>
<div class="col-md-4">

</div>